* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: bisque;    
}

.container {
    display: flex;
    min-height: 80vh;
    max-width: 1440px;
    margin: 10vh auto;    
    /* background-color: gray; */
    border-radius: 1em;
}

.left-block {
    width: 40%;
    margin: 10px;
    border-radius: 1em;
    background-color: azure;
    position: relative;

    /* display: none; */
}

.right-block {
    width: 60%;
    margin: 10px;
    border-radius: 1em;
    background-color: azure;
}

.gallows-image {
    display: block;
    margin: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50px;
}

.loser-images {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 192px;
    right: 52px;
}

.top-images,
.middle-images,
.bottom-images {
    display: flex;
    justify-content: center;
}

.word-quiz,
.hint-quiz,
.score-quiz {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}

.letters-quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 5px;
}

/* .solution-template {
    display: flex;
    justify-content: center;
} */

